<a href="https://colab.research.google.com/github/ichi-a00/google_colab/blob/main/python%E5%85%A5%E9%96%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
10+2

12

In [2]:
10*10

100

In [4]:
3%2

1

In [5]:
2**3

8

変数は全小文字でアンダースコア区切り水晶らしい

In [6]:
a = 3

In [7]:
a

3

In [8]:
price = 100

In [9]:
a == a

True

In [10]:
a != a

False

In [12]:
'a' > 'b'

False

In [13]:
name = "ichikawa"

In [14]:
type(name)

str

In [15]:
type(a)

int

In [16]:
names = ['スズキ', '砂糖', 'YAMADA']

In [17]:
names[1]

'砂糖'

In [18]:
names[-1]

'YAMADA'

In [19]:
names[-0]

'スズキ'

In [20]:
names[0: 1]

['スズキ']

In [21]:
names[0:2]

['スズキ', '砂糖']

In [22]:
names[-1:2]

[]

In [26]:
names[:2]

['スズキ', '砂糖']

In [27]:
names[1:]

['砂糖', 'YAMADA']

In [28]:
names[::-1]

['YAMADA', '砂糖', 'スズキ']

In [29]:
names.append('田中')

In [30]:
names

['スズキ', '砂糖', 'YAMADA', '田中']

In [31]:
names.pop()

'田中'

In [32]:
names

['スズキ', '砂糖', 'YAMADA']

In [33]:
scores = {'国語':10, '算数':90, '英語':50}

In [36]:
scores['国語']

10

In [38]:
scores['道徳'] = 70

In [39]:
scores

{'国語': 10, '算数': 90, '英語': 50, '道徳': 70}

In [41]:
scores.pop('国語')

10

In [42]:
scores

{'算数': 90, '英語': 50, '道徳': 70}

In [48]:
scores['算数'] = 70

In [49]:
if scores['算数'] >= 80:
  print('OK')
elif scores['算数'] >=30:
  print('ふつう')
else:
  print('赤点')

ふつう

In [50]:
for i in range(5):
  print(i)

0
1
2
3
4

In [51]:
list(range(5))

[0, 1, 2, 3, 4]

In [52]:
range(5)

range(0, 5)

In [53]:
for n in names:
  print(n + "様")

スズキ様
砂糖様
YAMADA様

In [54]:
zip(names, scores)

In [57]:
for name, score in zip(names, scores):
  print(name + "は" + score + "点")

スズキは算数点
砂糖は英語点
YAMADAは道徳点

In [61]:
names[0]

'スズキ'

In [68]:
for i, name in enumerate(names):
  print("番号", i,  "の" + name)

番号 0 のスズキ
番号 1 の砂糖
番号 2 のYAMADA

In [69]:
def say_hello():
  print('Hello, World1')

In [70]:
say_hello()

Hello, World1

In [73]:
def calc_tri(base=10, height=5):
  return(base * height / 2)

In [75]:
calc_tri(6, 7)

21.0

In [76]:
calc_tri()

25.0

クラスとは、モノの設計書。
オブジェクトの共通項（特徴）を1つにまとめて抽象化したもの。

クラスをもとに新たなものを作ること：インスタンス化

In [77]:
class Person:
  #初期設定
  def __init__(self, name, nationality, age):
    self.name = name
    self.nationality = nationality
    self.age = age

In [78]:
saitou = Person(name="斎藤", nationality="コートジボワール", age="7")

In [79]:
saitou

In [80]:
saitou.name

'斎藤'

クラスの中で定義されている関数：メソッド

In [89]:
class Person:
  #初期設定
  def __init__(self, name, nationality, age):
    self.name = name
    self.nationality = nationality
    self.age = age
  
  def say_hello(self):
    print(f'hello, my name is {self.name} .')

  def __call__(self, name):
    print(f'hello {name}, my name is {self.name} .')

In [90]:
mike = Person(name="マイク", nationality="東ティモール", age="97")

In [91]:
mike.say_hello()

hello, my name is マイク .

In [92]:
mike(name='johnathan')

hello johnathan, my name is マイク .

In [93]:
import datetime

In [95]:
datetime.date.today()

datetime.date(2021, 12, 23)

In [96]:
datetime.datetime.now()

datetime.datetime(2021, 12, 23, 7, 18, 58, 157151)

In [98]:
!pip3 install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [99]:
import pandas as pd

In [100]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])

In [101]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [105]:
df =pd.read_csv('sample_data/california_housing_train.csv')

In [106]:
df.iloc[:, :2]

       longitude  latitude
0        -114.31     34.19
1        -114.47     34.40
2        -114.56     33.69
3        -114.57     33.64
4        -114.57     33.57
...          ...       ...
16995    -124.26     40.58
16996    -124.27     40.69
16997    -124.30     41.84
16998    -124.30     41.80
16999    -124.35     40.54

[17000 rows x 2 columns]

In [107]:
df.std()

longitude                  2.005166
latitude                   2.137340
housing_median_age        12.586937
total_rooms             2179.947071
total_bedrooms           421.499452
population              1147.852959
households               384.520841
median_income              1.908157
median_house_value    115983.764387
dtype: float64

In [108]:
df.describe()

          longitude      latitude  ...  median_income  median_house_value
count  17000.000000  17000.000000  ...   17000.000000        17000.000000
mean    -119.562108     35.625225  ...       3.883578       207300.912353
std        2.005166      2.137340  ...       1.908157       115983.764387
min     -124.350000     32.540000  ...       0.499900        14999.000000
25%     -121.790000     33.930000  ...       2.566375       119400.000000
50%     -118.490000     34.250000  ...       3.544600       180400.000000
75%     -118.000000     37.720000  ...       4.767000       265000.000000
max     -114.310000     41.950000  ...      15.000100       500001.000000

[8 rows x 9 columns]